
/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
 *{
    font-family: 'Noto Sans', sans-serif;
 }
/* 위로가기 버튼 */
#topBtn{
  position:fixed;
  top:80vh;
  left:90vw;
  width:3vw;
  height:3vw;
  background-image: url(../img/top-btn.png);
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent:-9999em;
  margin-top: 1rem;
  border-radius: 50%;
  
}
/* header */
header{z-index: 998;position:fixed;width:100%;height:fit-content; display: flex; justify-content: space-between;}

/* header1 */
header .header1{width:50rem; height:fit-content; margin-left: auto;margin-right: auto;display: flex; justify-content: space-between; align-items: center; z-index: 0;}
.header1::before{opacity: 100%;}
.h2-s2-c1 a{text-decoration: none;color: black;}
.h2-s2-c1 a:hover{border-bottom: 2px solid #194898;color: #194898;}
header .h1-s1{width:20%;height:3rem;}
header .h-logo{height:3rem;}
header .h1-s2{width:80%;height:3rem;}
header .h1-s2-c1{display: flex;justify-content: space-between; list-style: none;padding-top: 1rem;font-size: 0.8rem;font-weight: bold;flex-basis: max-content;}
header .h1-s3{ display:none;}
header .h-icon{font-size: 2rem;color:white;}
header .close-icon{font-size: 1.5rem;border:0; background-color: white;}
.card-footer{background-color: white !important;}


/* header2 */
.header2-back{width:100%;height:12rem; background-color: white; display:none;background:rgba(252, 251, 251); border-bottom: 1px solid #cecece; }
header .header2{width:50rem; height:fit-content; margin-left: auto;margin-right: auto;display: flex; justify-content: space-between; align-items: center;}

header .h2-s1{width:20%;height:3rem;}
header .h-logo{height:3rem;}
header .h2-s2{width:80%;height:3rem;}
header .h2-s2-c1{display: flex;justify-content: space-between; padding-top: 1rem;font-size: 0.8rem;font-weight: bold;list-style: none;flex-basis: 5rem;}
header .h2-s2-c1 li ul{list-style: none;padding-top: 1rem;font-size: 0.5rem;font-weight: bold;padding:0;line-height: 1.5rem;}
header .h2-s2-c1 li ul li {text-align: left;}
header .h2-s3{width:30%;height:auto; display:none;}


/* 테블릿 가로 (해상도 774px ~ 1023px)*/ 
@media all and (min-width:774px) and (max-width:1023px) { 

  /* header1 */
header .header1{width:40rem; height:4rem; margin-left: auto;margin-right: auto;display: flex; justify-content: space-between; align-items: center; z-index: 0;}
.header1::before{opacity: 100%;}


/* header2 */
.header2-back{width:100%;height:12rem; background-color: white; display:none;}
header .header2{width:40rem; height:4rem; margin-left: auto;margin-right: auto;display: flex; justify-content: space-between; align-items: center;}

  } 
  
  /* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
  @media all and (min-width:480px) and (max-width:773px) {
    header{width:100%;}
  /* header1 */
  header .header1{width:30rem; height:4rem; margin-left: auto;margin-right: auto;display: flex; justify-content: space-between; align-items: center; z-index: 0;}
  .header1::before{opacity: 100%;}
  
  
  /* header2 */
  .header2-back{width:100%;height:12rem; background-color: white; display:none;}
  header .header2{width:30rem; height:4rem; margin-left: auto;margin-right: auto;display: flex; justify-content: space-between; align-items: center;}
  }
  
  /* 모바일 세로 (해상도 ~ 479px)*/ 
  @media all and (max-width:479px) {
  /* header1 */
  header{width:100%;}
  header .header1{width:20rem; height:auto; margin-left: auto;margin-right: auto;display: flex; justify-content: space-between; align-items: center; z-index: 0;}
  .header1::before{opacity: 100%;}
  .card-header{background-color: white !important;}
  .card-header i{font-size: 2rem;}
  .card-footer{font-size: 0.8rem;background-color: white !important;}
  .m-header{display:flex; justify-content: space-between; width:100%;}
  .mHead{display:flex;}
  .m-header div:nth-child(1){flex-basis: 40%;width:fit-content;}
  .m-header img{width:90%;}
  .m-header p:nth-child(2){flex-basis: 60%;font-size: 0.8rem; text-align: end; align-items: end;}

  .m-body{margin: 1rem auto;}

  .offcanvas-body{
    font-size: 2rem;
    line-height: 4.5rem;
  }
.copyRight{ text-align: left;font-size:0.6rem}
  /* header2 */
  .header2-back{width:100%; background-color: white; display:none;}
  header .header2{width:100%;margin-left: auto;margin-right: auto;display: flex; justify-content: space-between; align-items: center;}
  
  .h1-s2{display: none;}
  header .h1-s3{ display:block;}
  #topBtn{
    position:fixed;
    top:75vh;
    left:85vw;
    width:2rem;
    height:2rem;
    
  }
  .disAppear{
    display:none;
  }
  }