.h1-s2-c1{color:white}
.h-icon{color:white}
.section1{height: 42vh;}
.section1-part1{
    background: url("../img/이미지/연혁/Mask\ group.jpg");
    background-position: center center;
    width:100%;
    height:40vh;
}
.section1-part1-text{position:relative; top:-11rem;color:white;text-align: center; }
.section1-part1-text p:nth-child(3){font-size: 0.5rem; margin-top: 2rem;}
.section1-part1 img{width:100%;height:100%;object-fit: cover;}
.section2,.section3,.section4{width:100%;height:auto;margin: 0 auto;}
.section2{width:50rem;}
.section2-part1{margin:1rem 0; font-size: 1.2rem; font-weight: bold;}
.section2-part2{ display: flex; flex-wrap: wrap;}
.section2-part2-1{width:20%;height:20rem;padding:2rem 0;font-weight: bold;}

.section2-part2-2{width:80%;height:max-content;display: flex;overflow: hidden;}

.section2-card{
    /* background-color: aquamarine; */
    width:50%;
    height:100%;
    margin :0 auto;
    padding:1rem 0;
}
.section2-card2{
    opacity: 60%;
    position: relative;
    right: 4rem;
    /* background-color: aquamarine; */
    width:50%;
    height:100%;
    padding:1rem 0;
    margin-left: 1.5rem;
}

.section2-card3{
    opacity: 60%;
    position: relative;
    left:4rem;
    /* background-color: aquamarine; */
    width:50%;
    height:100%;
    padding:1rem 0;
}

.section2-card-1{font-size: 2.5rem;}

.section2-card i{color:#154B9A;}
.section2-card-2 {margin:1rem 0;}
.section2-card-2 p{font-size: 0.7rem; margin-bottom: 0.5rem;}
.arrow{
flex-basis: 100%;
text-align: center;
padding-bottom: 3rem;
padding-top: 1rem;
}
/* 테블릿 가로 (해상도 774px ~ 1023px)*/ 
@media all and (min-width:774px) and (max-width:1023px) { 
    .section1{height: 42vh;}
.section1-part1{
    background: url("../img/이미지/연혁/Mask\ group.jpg");
    background-position: center center;
    width:100%;
    height:40vh;
}
    .section2{width:40rem;}
    .section2-part2-1{flex-basis: 30%;}
    .section2-part2-2{width:70%;height:20rem;display: flex;overflow-y:auto;}
    } 
    
    /* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
    @media all and (min-width:480px) and (max-width:773px) {
        .section1{height: 30vh;}
        .section1-part1{
            background: url("../img/이미지/연혁/Mask\ group.jpg");
            background-position: center center;
            width:100%;
            height:28vh;
        }
        .section1-part1-text{position:relative; top:-6rem;color:white;text-align: center; font-size: 1rem;}
        .section1-part1-text p{display:none;}
        .section1-part1 img{height:30vh; width: 100%;}
        .section2{width:32rem;}
        .section2-part1{text-align: center; font-size: 2rem;}
        .section2-part2{ display: flex; flex-wrap: wrap;}
        .section2-part2-1{flex-basis:100%;height:8rem;font-weight: bold;text-align: center;}
        
        .section2-part2-2{flex-basis:100%;height:max-content;display: flex;overflow: hidden;text-align: center;}
        .arrow{
        flex-basis: 100%;
        text-align: center;
        }
    }
    
    /* 모바일 세로 (해상도 ~ 479px)*/ 
    @media all and (max-width:479px) {
        .section1{height: 30vh;}
        .section1-part1{
            background: url("../img/이미지/연혁/Mask\ group.jpg");
            background-position: center center;
            width:100%;
            height:28vh;
        }
        .section1-part1-text{position:relative; top:-6rem;color:white;text-align: center;font-size: 1rem; }
        .section1-part1 img{height:30vh; width: 100%;}
        .section1-part1-text p{display:none;}
        .section2{width:22rem;}
        .section2-part1{text-align: center; font-size: 2rem;}
        .section2-part2{ display: flex; flex-wrap: wrap;}
        .section2-part2-1{flex-basis:100%;height:8rem;font-weight: bold;text-align: center;}
        
        .section2-part2-2{flex-basis:100%;height:max-content;display: flex;overflow: hidden;text-align: center;}
        .arrow{
        flex-basis: 100%;
        text-align: center;
        }
        #card2, #card3{display: none;}
    }